html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:black;
}
#img{
    width: 100px;
    height: 100px;
    background-image: url('../image/2.jpg');
    background-size: cover;
}