
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav{
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 6px 5px #333;
    background-color: rgb(255,166,0);
}
.nav > li{
    display: inline-block;
    border-right: 1px dashed #fff;
    margin: 10px 0;
    padding: 0px 40px;
}
.nav li:last-of-type{
    border-right: none;
}
@font-face{
    font-family: 'myFont';
    src: url('./Risque/Risque-Regular.ttf')

}
a{
    font-family: 'myFont';
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 3px #999999;
}
