<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style>
        .demo{
            width: 100px;
            height: 100px;
            background-color: gray;
            margin-left: 10px;
            display: inline-block;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="demo" :style='{backgroundColor:color}'></div>
        <div class="demo" :style='divStyle'></div>
        <div class="demo" :style='[divStyle,{height:height + "px"}]'></div>
        <input type="text" name="" v-model='color'>
        <input type="text" name="" v-model='width'>
        <input type="text" name="" v-model='height'>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                color: 'red',
                width: 100,
                height: 200
            },
            computed: {
                divStyle: function(){
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px'
                    }
                }
            }
        })
    </script>
</body>
</html>